<h3>Listado de Heroes</h3>


<h3 *ngIf="deletedHero; else nothingWasDeleted">Heroe Borrado <small class="text-danger"> {{deletedHero}} </small></h3>

<ng-template #nothingWasDeleted>
  <h3>No se ha borrado nada</h3>
</ng-template>


<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroNames"
    class="list-group-item">
    {{name}}</li>

</ul>

<button
  *ngIf="heroNames.length == 0"
  (click)="resetHeroes()"
  class="btn btn-primary mt-2">
  Reiniciar Heroes
</button>

